extends layout

block variables
  - const title = 'home'

block layout-content
    h1 Feeds
    div.feed-previews
        for feed in feeds 
            include ./partials/feed/feed-preview
        include ./partials/feed/add-new-feed